.container {
    width: 768px;
    margin: 3rem auto 6rem;
}

@media (max-width: 1056px) {
    .container {
        width: calc(100% - 2rem);
    }
}

.header {
    display: flex;
    flex-direction: column;
}
